{% extends 'BaseIndex.html' %}
{% block title %}
{{block.super}}->Вернуть книгу
{% endblock %}

{% block content %}



<div class="card">
  <div class="card-header">
    <h1>Книги:</h1>
  </div>
  <form class="form mt-2" action="{% url 'back_book_url'%}">
    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск!</button>
  </form>
  <ul class="list-group list-group-flush">
      {% for book in books%}
    <li class="list-group-item"><div class="card">
  {% if book.profile_image %}
      <div class="col-md-4">
      <img src="{{book.profile_image.url}}" class="card-img-top" alt="..." style="max-width: 300px;">
    </div>
      {% endif %}
  <div class="card-body">
    <h5 class="card-title"> {{book.title}} <br> Автор:  {{book.author}}</h5>
      <p>Количество сейчас: {{book.count}}</p>
    <p class="card-text"> {{book.discr}}</p>
    <p class="card-text text-muted"> {{book.date_pub}}</p>
    <form action="{%url 'back_book_url' id=book.id%}" method="post">
      {% csrf_token %}
    <button type="submit" class="btn btn-dark">Вернул!</button>
    </form>
  </div>
</div>
    </li>
      {%endfor%}

  </ul>
</div>
{% endblock %}